<!DOCTYPE html>
<html>
<head>
  <title>ReactPhotogur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui three item menu">
  <a class="<%= current_page?(photos_path)? 'active item' : 'item'  %>" href="<%= photos_path %>">PHOTO SHARE</a>
  <a class="<%= current_page?(videos_path)? 'active item' : 'item'  %>" href="<%= videos_path %>">VIDEO SHARE</a>
  <% if !current_user %>
  <a class="<%= current_page?(root_path)? 'active item' : 'item'  %>" href="<%= new_user_session_path %>">LOG IN/SIGN UP</a>
  <% else %>
  <%= link_to 'LOG OUT', destroy_user_session_path, :method => :delete, class: 'item' %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
